
<div class="row">
    <div  class="col-md-6 offset-md-3">
        <h3 style="text-align: center;"> Login</h3>
        <hr/>
        <form [formGroup]="signUpForm" (ngSubmit)="onSignupSubmit()" >
            <label>Email</label>
            <div >
                <input class="form-control" type="text" formControlName="email"> 
                <div *ngIf="signUpForm.get('email').touched && !signUpForm.get('email').valid"  class="text-danger">
                    <div *ngIf="signUpForm.get('email').errors.required">Email is required </div>
                    <div *ngIf="signUpForm.get('email').errors.email">Invalid email </div>
                    </div>           
            </div>
            <label>Password</label>
            <div>
                <input class="form-control" type="password" formControlName="password">
                <div *ngIf="signUpForm.get('password').touched && !signUpForm.get('password').valid" class="text-danger">
                    <div *ngIf="signUpForm.get('password').errors.required" >password is required </div>
                    <div *ngIf="signUpForm.get('password').errors.minlength">Invalid password </div>
                    </div>           
            </div>
            <br/>
           
            <div class="mb-3">
                <button type="submit" class="btn btn-success">submit</button>
            </div>
        </form>
    </div>
</div>
