<div class="card mt-4" *ngIf="productData">
  
    <img class="card-img-top img-fluid"    src="{{productData.productImg}}"  alt="">
    <div class="card-body">
      <h3 class="card-title">{{productData.productName}}</h3>
      <a href="products/update-product/{{productId}}">Update Product</a> | <a href="products/delete-product/{{productId}}">Delete Product</a>
      <h4>${{productData.price}}</h4>
      <p class="card-text">{{productData.description}}</p>
      <span class="text-warning">{{productData.rating}} star</span>
        </div>
  </div>
 